<div class="posts">
  <section class="post">
    <div class="post-header">
      <h2 class="post-title"><%= @information.title %></h2>
      <p class="post-meta"><%= @information.publish_date %></p>
    </div>
    <div class="post-description">
      <%= simple_format @information.body %>
    </div>
  </section>
</div>
<%= link_to "index", backend_informations_path %>
<%= link_to "edit", edit_backend_information_path(@information.id) %>
