<div>
  <p>
    タイトル
    <%= @information.title %>
  </p>
</div>

<div>
  <p>
    本文
    <%= @information.body %>
  </p>
</div>

<div>
  <p>
    公開日
    <%= @information.publish_date %>
  </p>
</div>

<div>
  <p>
    下書き
    <%= @information.draft %>
  </p>
</div>

<%= link_to "index", informations_path %>
