<p>
  <%= f.label '曲名' %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label '公開日' %>
  <%= f.date_select :release_date %>
</p>

<p>
  <%= f.label '難易度' %>
  <% Difficulty.all.each do |difficulty| %>
    <label>
      <input value="<%= difficulty.id %>" name="song[difficulty_ids][]" type="checkbox"
        <% if DifficultySong.where(song_id: params[:id]).pluck(:difficulty_id).include?(difficulty.id) %>
          checked="checked"
          <% end %>
      >
      <%= difficulty.name %>
    </label>
  <% end %>
</p>

<p>
  <%= f.label 'ボーカル' %>
  <% Vocalist.all.each do |vocalist| %>
    <label>
      <input value="<%= vocalist.id %>" name="song[vocalist_ids][]" type="checkbox"
        <% if VocalistSong.where(song_id: params[:id]).pluck(:vocalist_id).include?(vocalist.id) %>
          checked="checked"
          <% end %>
      >
      <%= vocalist.name %>
    </label>
  <% end %>
</p>

<p>
  <%= f.submit %>
</p>