<div>
  <%= @song.try(:id) %>
</div>

<div class="form-group">
  <%= f.label '曲名' %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label '曲名かな' %>
  <%= f.text_field :title_kana, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label '公開日' %>
  <%= f.date_select :release_date, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label '難易度' %>
  <% Difficulty.all.each do |difficulty| %>
    <div class="checkbox-inline">
      <label>
        <input value="<%= difficulty.id %>" name="song[difficulty_ids][]" type="checkbox"
          <% if DifficultySong.where(song_id: params[:id]).pluck(:difficulty_id).include?(difficulty.id) %>
            checked="checked"
            <% end %>
        >
        <%= difficulty.name %>
      </label>
    </div>
  <% end %>
</div>

<div class="form-group">
  <%= f.label 'ボーカル' %>
  <% Vocalist.all.each do |vocalist| %>
    <div class="checkbox-inline">
      <label>
        <input value="<%= vocalist.id %>" name="song[vocalist_ids][]" type="checkbox"
          <% if VocalistSong.where(song_id: params[:id]).pluck(:vocalist_id).include?(vocalist.id) %>
            checked="checked"
            <% end %>
        >
        <%= link_to vocalist.name, backend_vocalist_path(vocalist.id) %>
      </label>
    </div>
  <% end %>
</div>
