<div class="contents ml_10">
  <table class="pure-table pure-table-bordered">
   <tbody>
     <tr>
       <th>曲名</th>
       <td><%= @song.title %></td>
     </tr>
     <tr>
       <th>公開日</th>
       <td><%= @song.release_date.strftime('%Y年%m月%d日') %></td>
     </tr>
     <% if @song.try(:difficulties).present? %>
       <tr>
         <th>難易度</th>
         <td>
           <% @song.difficulties.each do |d| %>
            <%= d.name %>
          <% end %>
         </td>
       </tr>
     <% end %>
     <% if @song.try(:composer).present? %>
       <tr>
         <th>P</th>
         <td><%= @song.composer.name %></td>
       </tr>
     <% end %>
     <% if @song.try(:illustration).present? %>
       <tr>
         <th>ジャケット</th>
         <td><%= image_tag illustration_backend_illustration_path(@song.illustration) %></td>
       </tr>
     <% end %>
   </tbody>
  </table>
</div>

<%= link_to "edit", edit_backend_song_path(@song.id) %>
<%= link_to "index", backend_songs_path %>
